body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

input {
  margin: 2%;
  width: 60%;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

#deleteBtn {
  background-color: #620ecf; /* Blue */
  border: none;
  color: white;
  padding: 10px 15px;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 90px;
  
}

.draggable {
  z-index: 3;
}